@import url('http://fonts.cdnfonts.com/css/encode-sans-compressed');

body {
    font-family: Encode Sans, sans-serif;
}

#input {
    box-shadow: 1px 2px 5px #888888;
}

#green-top {
    background-image: url(images/energy-landing-page-top.png);
}

.green-bottom {
    background-image: url(images/energy-landing-page-bottom.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.img-style {
    height: 750px;
    margin-left: -150px;
}

.vl {
    border-left: 0.5px solid #9A9D90;
    height: 180px;
}

.gif-2 {
    margin-left: 600px;
}

.first-heading {
    margin-left: 150px;
    margin-right: 330px;
}

#cloud {
    background-image: url(images/cloud-solarmarkit.gif);
    background-repeat: no-repeat;
    background-position: -200px 1050px;
    background-size: 28% auto;
}

.text-heading {
    font-weight: bolder;
    color: #024586;
    font-size: xxx-large;
}

.first-paragraph {
    color: #7A8B97;
    font-weight: bold;
}

.first-row {
    padding-left: 120px;
    padding-right: 110px;
}

.second-row {
    padding-left: 120px;
    padding-right: 110px;
}

@media (min-width: 320px) {
    .gif-1 {
        height: 100px;
    }

    #green-top {
        background-image: url(images/energy-landing-page-top.png);
        height: 100px;
    }

    .gif-2 {
        margin-left: 190px;
        height: 120px;
    }

    .text-heading {
        font-weight: bolder;
        color: #024586;
        font-size: medium;
    }

    .first-paragraph {
        color: #7A8B97;
        font-weight: bold;
        font-size: small;
    }

    .first-heading {
        margin-left: 0px;
        margin-right: 0px;
    }

    .first-row {
        padding-left: 15px;
        padding-right: 0px;
    }

    .second-row {
        padding-left: 15px;
        padding-right: 0px;
    }
    #cloud {
        background-image: url(images/cloud-solarmarkit.gif);
        background-repeat: no-repeat;
        background-position: -60px 2200px;
        background-size: 28% auto;
    }

}

@media (min-width: 576px) {
    .gif-1 {
        height: 200px;
    }

    #green-top {
        background-image: url(images/energy-landing-page-top.png);
        height: 200px;

    }

    .gif-2 {
        margin-left: 200px;
        height: 150px;

    }

    .text-heading {
        font-weight: bolder;
        color: #024586;
        font-size: larger;
    }

    .first-paragraph {
        color: #7A8B97;
        font-weight: bold;
        font-size: medium;
    }

    .first-row {
        padding-left: 45px;
        padding-right: 0px;
    }

    .second-row {
        padding-left: 45px;
        padding-right: 0px;
    }
    
    #cloud {
        background-image: url(images/cloud-solarmarkit.gif);
        background-repeat: no-repeat;
        background-position: -100px 2200px;
        background-size: 28% auto;
    }


}

@media (min-width: 768px) {
    .gif-1 {
        height: 300px;
    }

    #green-top {
        background-image: url(images/energy-landing-page-top.png);
        height: 300px;

    }

    .gif-2 {
        margin-left: 300px;
        height: 180px;
    }

    .text-heading {
        font-weight: bolder;
        color: #024586;
        font-size: x-large;
    }

    .first-paragraph {
        color: #7A8B97;
        font-weight: bold;
        font-size: medium;
    }

    .first-row {
        padding-left: 50px;
        padding-right: 30px;
    }

    .second-row {
        padding-left: 50px;
        padding-right: 30px;
    }

    #cloud {
        background-image: url(images/cloud-solarmarkit.gif);
        background-repeat: no-repeat;
        background-position: -150px 1050px;
        background-size: 28% auto;
    }
    

}

@media (min-width: 990px) {
    .gif-1 {
        height: 400px;
    }

    #green-top {
        background-image: url(images/energy-landing-page-top.png);
        height: 400px;

    }

    .gif-2 {
        margin-left: 600px;
        height: 200px;
    }

    .text-heading {
        font-weight: bolder;
        color: #024586;
        font-size: xxx-large;
    }

    .first-heading {
        margin-left: 150px;
        margin-right: 330px;
    }

    .first-row {
        padding-left: 120px;
        padding-right: 110px;
    }

    .second-row {
        padding-left: 120px;
        padding-right: 110px;
    }

    #cloud {
        background-image: url(images/cloud-solarmarkit.gif);
        background-repeat: no-repeat;
        background-position: -200px 1050px;
        background-size: 28% auto;
    }
    
}
